.container {
  padding: 0 4rem;
  margin: 0 auto;
  max-width: 1200px;

  .article_wrapper {
    display: flex;
    justify-content: space-between;

    .main_content {
      width: calc(100% - 330px);
    }

    .side_bar {
      width: 300px;
    }
  }
}


